# --- Base y Notebooks ---
ipykernel
nbconvert
numpy
pandas
requests

# --- NLP y LLM ---
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
transformers
accelerate
sentence-transformers
faiss-cpu

# --- RAG e Infraestructura ---
langchain
langchain-community
pypdf
beautifulsoup4
scikit-learn

# --- Métricas de Maestría ---
rouge-score
rank-bm25
nltk