# Motores base (Versiones sincronizadas)
torch==2.1.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# NLP y RAG (Versiones estables)
transformers==4.38.0
accelerate==0.27.0
sentence-transformers==2.5.1
faiss-cpu
langchain
langchain-community
pypdf
beautifulsoup4
scikit-learn
pandas
numpy
requests
rouge-score
rank-bm25
nltk
nbconvert
ipykernel
gradio