# --- IA y Modelos ---
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
transformers
accelerate
sentence-transformers
faiss-cpu

# --- RAG y LangChain ---
langchain
langchain-community
pypdf
beautifulsoup4
requests

# --- Métricas y Procesamiento Científico ---
rouge-score
rank-bm25
nltk
scikit-learn
numpy

# --- Entorno de Ejecución ---
ipykernel
nbconvert